service: chameleon-color-api

provider:
  name: aws
  runtime: python2.7
  environment:
    DYNAMODB_TABLE: ${self:service}-${opt:stage, self:provider.stage}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource: "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE}"

functions:
  create:
    handler: colors/create.create
    events:
      - http:
          path: colors
          method: post
          cors: true

  delete:
    handler: colors/delete.delete
    events:
      - http:
          path: colors/{id}
          method: delete
          cors: true

  get:
    handler: colors/get.get
    events:
      - http:
          path: colors/{id}
          method: get
          cors: true

  getRandom:
    handler: colors/random.random
    events:
      - http:
          path: colors/random
          method: get
          cors: true

resources:
  Resources:
    ChameleonDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: id
            AttributeType: S
        KeySchema:
          -
            AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        TableName: ${self:provider.environment.DYNAMODB_TABLE}

package:
  exclude:
    - data-gathering/**
    - .env/**